.main_chat
  .main_chat__group_info
    .main_chat__group_info__left_box
      %p.main_chat__group_info__left_box__current-group
        = @group.name
      %ul.main_chat__group_info__left_box__member-list
        Member :
        %li
          - @group.users.each do |user|
            =user.name
    .main_chat__group_info__btn
      =link_to edit_group_path(@group.id),class:"" do
        Edit  

  .main_chat__message
    = render @messages

  .main_chat__message_form
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'
      